* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* Estilo contenedor principal */
main {
  background-color: beige;
  min-height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content1"
    "content2"
    "footer";

  align-content: ;
  /* Crea aquí la cuadrícula */

}



/* Estilo texto de las secciones */
main>* {
  align-items: center;
  border: 2px solid black;
  color: #fff;
  display: flex;
  font-family: monospace;
  justify-content: center;
}

/* Estilo de cada elemento */
/* Añade a cada uno el área correspondiente */
header {
  background-image: linear-gradient(45deg, #7895b2 100%, #aebdca 0%);
  grid-area: "header";
  height: 6.5rem;
}

nav {
  background-image: linear-gradient(130deg,
      #7895b2 0%,
      #aebdca 45%,
      #7895b2 100%);
  grid-area: 'nav';
  height: 4.5rem;
}

aside {
  background-image: linear-gradient(130deg, #aebdca 0%, #7895b2 100%);
  display: none;

}

section {
  background-image: linear-gradient(130deg, #aebdca 0%, #7895b2 100%);
  min-height: 100%;

}

section:first-of-type {
  grid-area: "content1";
  height: 50%;
}


section:last-of-type {
  grid-area: "content2";
  height: 50%;
}

footer {
  background-image: linear-gradient(45deg, #7895b2 100%, #aebdca 0%);
  grid-area: "footer";
  height: 4rem;
}

/* Media query pantalla > 600px */
@media (min-width: 600px) {
  main {
    /* Haz aquí las modificaciones necesarias en la cuadrícula y la disposición de las áreas */

    display: grid;
    grid-template-columns: 1fr;



  }

  header {
    height: 6.5rem;
    width: 100%;
  }

  nav {
    height: 4.5rem;
    width: 100%;
  }


  section:first-of-type {
    grid-area: "content1";
    hei
  }

  section:last-of-type {
    grid-area: "content2";

  }

  #sidebar {
    background-image: linear-gradient(130deg, #aebdca 0%, #7895b2 90%);
    display: grid;
    width: 12.5rem;
  }

  footer {}
}